name: Renovate for atemplates@gitlab.com
on:
  workflow_dispatch:
    inputs:
      repoCache:
        description: Reset or disable the cache?
        type: choice
        default: enabled
        options:
          - enabled
          - disabled
          - reset
      logLevel:
        description: Log level
        default: INFO
        type: choice
        options:
          - DEBUG
          - INFO
          - WARN
          - ERROR
          - FATAL
  schedule:
    - cron: "38 * * * *"

concurrency:
  group: ${{ github.workflow }}

env:
  cache_archive: renovate_cache.tar.gz
  cache_dir: /tmp/renovate/cache/renovate/repository
  cache_key: atemplates@gitlab.com_renovate-cache

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: dawidd6/action-download-artifact@80620a5d27ce0ae443b965134db88467fc607b43 # v7
        if: github.event.inputs.repoCache != 'disabled'
        continue-on-error: true
        with:
          name: ${{ env.cache_key }}
          path: cache-download
          github_token: ${{ secrets.RENOVATE_GITHUB_TOKEN }}

      - name: Extract renovate cache
        run: |
          set -x
          if [ ! -d cache-download ] ; then
            echo "No cache found."
            exit 0
          fi
          mkdir -p "$cache_dir"
          tar -xzf "cache-download/$cache_archive" -C "$cache_dir"
          sudo chown -R 12021:0 /tmp/renovate/
          ls -R "$cache_dir"

      - uses: renovatebot/github-action@8cb0d4a6ab7d8bb90460a005f7bd33b80dd07ca8 # v44.2.5
        timeout-minutes: 20
        with:
          configurationFile: configs/atemplates.gitlab.json
          token: ${{ secrets.RENOVATE_GITLAB_TOKEN }}
        env:
          RENOVATE_REPOSITORY_CACHE: ${{ github.event.inputs.repoCache || 'enabled' }}
          GITHUB_COM_TOKEN: ${{ secrets.RENOVATE_GITHUB_TOKEN }}
          LOG_LEVEL: ${{ github.event.inputs.logLevel || 'INFO' }}

      - name: Compress renovate cache
        run: |
          ls "$cache_dir"
          tar -czvf "$cache_archive" -C "$cache_dir" .

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: github.event.inputs.repoCache != 'disabled'
        with:
          name: ${{ env.cache_key }}
          path: ${{ env.cache_archive }}
          retention-days: 1
